version: '3.4'

x-logging:
    &default-logging
    driver: "json-file"
    options:
        max-size: "10m"
        max-file: "3"


services:
   postfix:
      build: ./postfix
      container_name: postfix
      image: tgiesela/postfix:v0.4
      hostname: postfix
      domainname: ${EMAILDOMAIN}
      restart: always
      networks:
         - mailnet
      ports: 
         - "25:25"   # smtp
         - "587:587" # smtp-auth starttls
         - "465:465" # smtp-auth tls
      expose:
         - "10025"   # smtp-for-amavis
      environment:
         - TZ=Europe/Amsterdam
         - LDAP_YESNO=${LDAP_YESNO}
         - DOMAIN=${EMAILDOMAIN}
         - ADDOMAIN=${ADDOMAIN}
         - ADCONTROLLER=${ADCONTROLLER}
         - EMAILDOMAIN=<yourdomain>
         - DOCKERNETMASK=172.22.0.0
         - DOCKERNETMASKLEN=16
         - NETMASK=<your local network id used with netmask: e.g. 192.168.0.0>
         - NETMASKLEN=24
         - ADPASSWORD=<password for postfix to access AD>
         - LOCALNETWORK=172.22.0.0/16
         - RELAYHOST=smtp.gmail.com 
         - RELAYUSER=<youremail@gmail.com> 
         - RELAYUSERPASSWORD="password for relayuser" 
         - CERTIFICATESUBJECT=/C=<Country>/ST=<state>/L=<City>/O=<name>/CN=<canonical name
      volumes:
         - /docker/data/certificates/:/certificates/
      logging: *default-logging

   dovecot:
      build: 
         context: ./dovecot
      container_name: dovecot
      image: tgiesela/dovecot:v0.4
      hostname: dovecot
      domainname: ${EMAILDOMAIN}
      restart: always
      networks:
         - mailnet
      depends_on:
         - "postfix"
      ports:
         - 143:143     # imap
         - 993:993     # imap-secure
         - 110:110     # pop3
         - 995:995     # pop3-secure
      expose:
         - "24"        # lmtp
         - 12345:12345 # sasl
      environment:
         - TZ=Europe/Amsterdam
         - LDAP_YESNO=${LDAP_YESNO}
         - DOMAIN=${EMAILDOMAIN}
         - ADDOMAIN=${ADDOMAIN}
         - ADCONTROLLER=${ADCONTROLLER}
         - ADPASSWORD=<password for postfix to access AD>
         - DOCKERNETMASK=172.22.0.0
         - DOCKERNETMASKLEN=16
         - NETMASK=<your local network id used with netmask: e.g. 192.168.0.0>
         - NETMASKLEN=24
         - MAILUSER=${MAILUSER}
         - MAILPASSWORD=${MAILUSERPASSWORD}
         - CERTIFICATESUBJECT=/C=<Country>/ST=<state>/L=<City>/O=<name>/CN=<canonical name
      volumes:
        - /mnt/mail/:/var/mail/
        - /docker/data/certificates/:/certificates/
      logging: *default-logging

   fetchmail:
      build: ./fetchmail
      container_name: fetchmail
      image: tgiesela/fetchmail:v0.4
      hostname: fetchmail
      domainname: ${EMAILDOMAIN}
      restart: always
      networks:
         - mailnet
      depends_on:
         - "postfix"
      environment:
         - TZ=Europe/Amsterdam
      logging: *default-logging

networks:
    mailnet:
         name: mailnet
         driver: bridge
         enable_ipv6: false
         ipam:
            driver: default
            config:
               - subnet: 172.22.0.0/16
                 gateway: 172.22.0.1

#volumes:
#    maildata:/mnt/media

#volumes:
#  maildata:/dockerdata/mail
#    driver: local
